body{
 font-family: 'Roboto Mono', monospace;
 box-sizing: border-box;
}
p{
  color:#888888;
  line-height: 170%;
  font-size: 1.1em;
}
hr{
  border-width: 3px
}
.navbar-inverse{
  border-color:#222222;
}
#myNavbar .navbar-brand {
    font-size: 100%;
    color:#CC0000;
}
#menu-princiale{
  background-color:#000000;
  border-bottom: 0px;
}

#menu-princiale a:focus{
  color:#FEC50E;
}
.text-primary{
  color:#FEC50E
}
section {
  padding-top: 100px;
  padding-bottom: 150px;
  min-height: 100vh;

}
.page-section div{

  font-weight: 700;
  font-size: 30px;
  line-height: 170%;
}
#header-important{
  font-weight: 700;
  font-size: 55px;
}
#page-header{
  /*background-color:#222222;*/
  background-image: url("../images/img3.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}
.yellow-color{
color:#FEC50E;
}
#my-name{
  text-decoration: underline;
  text-decoration-color: #FEC50E;
}
@media (max-width:768px){
  .page-section div{
    font-weight: 500;
    font-size: 20px;
  }
  #header-important{
    font-weight: 500;
    font-size: 30px;
  }
  section {
    padding-top: 150px;
    padding-bottom: 70px;
  }
  #menu-princiale{
    background-color:black;
    border-bottom: 0px;
  }
  .skill-2{
    display: none;
  }

  .flex-item{
    max-width:150px;
  }

}
.border-left{
  border-left: 2px solid #FEC50E
}

.img-center{
  margin-left:auto;
	margin-right:auto;
}
.black{
  background: #a3a1a1;
  color:white;

}
.padding-top-70{
  padding-top: 70px;
  padding-bottom: 20px;
}
.flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 500px;
}
.flex-item{
  width:250px;
}
/*********animation type writing*********************/
@media (min-width:950px){
.type-writing-animation{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(60, end);
}

 .second{
  animation: type2 8s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}


#blink{
  animation: blink 1s infinite;
  color:#FEC50E;
}
@keyframes blink {
   to{opacity: .0;}
}
}
/*************************end of animation**************/
.inline{
   display:inline-block;
   overflow: hidden;
   cursor: pointer;
   color:black;

}
.animated{
  width:50px;
  white-space: nowrap;
  animation: type 2s infinite linear;
  margin-top:20px;
}
@media (min-width:768px){
.small-screen-only{
  display:none;
}
}
/*************langage skill start***********************/

.skill-2{
  background: url("../images/galaxy2.jpg") center 0 no-repeat;
}
#skill-container{

  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-iteration-count:infinite;
   -webkit-animation-timing-function:linear;
   -webkit-animation-name:orbit;
   -webkit-animation-duration:10s;
   border-radius:50%;



}
.moving{
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  text-align:center;
  padding-top:16px;
  color:white;

   -webkit-animation-iteration-count:infinite;
   -webkit-animation-timing-function:linear;
   -webkit-animation-name:orbitinvers;
   -webkit-animation-duration:10s;
}
#js{
	left:180px;
	top:190px;
}
#html{
  left:260px;
  top:180px;
}
#css{
  left:180px;
  top:280px;
}
#sun{
top:225px;
left:225px;
background-image: url("../images/sun3.png");
color:black;
}
#react{
	left:330px;
  top:260px;
}
#node{
  left:160px;
  top:120px;
}
#bootstrap{
	left:80px;
  top:225px;
}
#git{
	left:110px;
	top:290px;
}
#php{
	top:320px;
	left:225px;
}
#webpack{
  left:80px;
  top:100px;
}
#vuejs{
  left:350px;
  top:100px;
}
#java{
  left:300px;
  top:100px;
}

#mysql{
  left:205px;
  top:100px;
}
@-webkit-keyframes orbit {
from { -webkit-transform:rotate(0deg) }
to { -webkit-transform:rotate(360deg) } }

@-webkit-keyframes orbitinvers {
from { -webkit-transform:rotate(0deg) }
to { -webkit-transform:rotate(-360deg) } }


/***************languages skill and *******************/

#portfolio img:hover{
  opacity: 0.5;
  cursor: pointer;
}

footer{
  background-color: #222222;
  color: white ;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
